<html>  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
        	body {
           		color:black;               
            }
			article {
				text-align:left;
                margin-left: 15%;
			}
            .password {
            	margin-left: 30%;
            }
            i {
                color :#2daf8e;
            }

            b {
                text-transform:uppercase;
            }
		</style>
	</head>
    <body>
          
        
        <article>
            Bonjour,
            </br>
            </br>
         
            <b>$lastName $firstName</b> a effectué une demande de stage à l'entreprise <b>$companyName</b> !  </br>
            Ses informations de contacts sont les suivantes :  </br>
            <ul>
                <li>
                Email : $email
                </li>
                <li>
                Numéro de téléphone : $phoneNumber
                </li>
            </ul> 
            </br>
            </br>
            Bien Cordialement, 
            </br>
            L&#8217;équipe de <i>Dkstages</i>
           
      	<article>       
    
    </body>
</html>