<html>  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
        	body {
           		color:black;               
            }
			article {
				text-align:left;
                margin-left: 15%;
			}
            .password {
            	margin-left: 30%;
            }
            i {
                color :#2daf8e;
            }

            b {
                text-transform:uppercase;
            }
		</style>
	</head>
    <body>
          
        
        <article>
            Bonjour <b>$lastName $firstName</b>,
            </br>
            </br>
         
            Cet e-mail confirme que votre demande de stage auprés de <b>$companyName</b> !  </br>
            Vous allez bientôt être contacté par la cellule ! 

            </br>
            </br>
            Bien Cordialement, 
            </br>
            L&#8217;équipe de <i>Dkstages</i>
           
      	<article>       
    
    </body>
</html>