<html>  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
        	body {
           		color:black;               
            }
			article {
				text-align:left;
                margin-left: 15%;
			}
            .password {
            	margin-left: 30%;
            }

           .color-primary {
                color :#2daf8e;
            }

            b {
                text-transform:uppercase;
            }

            ul { 
                text-align: left;
                padding-bottom: 0.25rem;
                padding-top: 0.25rem;
            }
		</style>
	</head>
    <body>
          
        
        <article>
            Bonjour <b>$lastName $firstName</b>,
            </br>
            </br>
            Pour présenter votre demande de stage à <b class="color-primary">$companyName</b>, envoyez votre CV et lettre de motivation :
					</br>
						<ul class="text-left ml-8 pt-1 pb-1"> 
							<li>
								<i>➔ Référent stage</i> :  $companyContactName
							</li> 
                            <li>
                                <i>➔ Par Téléphone fixe</i> : $companyContactPhone
                            </li>
                            <li>
                                <i>➔ Par Téléphone mobile</i> : $companyContactMobile
                            </li>
							<li>
                                <i>➔ Par mail</i> : $companyContactMail
                            </li> 
							<li>
								<i>➔ Par courrier</i> : $companyFullAddress
							</li>
							<li>
								<i>➔ Sur place</i> :  $companyFullAddress
							</li> 
						</ul>
            </br>
             La cellule a enregistrée votre demande et reprendra contact avec vous si nécessaire.
            </br>  
            Bien Cordialement, 
            </br>
            L&#8217;équipe de <i class="color-primary">Dkstages</i>
           
      	<article>       
    
    </body>
</html>