<html>  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
        	body {
           		color:black;               
            }
			article {
				text-align:left;
                margin-left: 15%;
			}
            .password {
            	margin-left: 30%;
            }
		</style>
	</head>
    <body>
          
        <b>Bonjour et bienvenue $firstName $lastName,</b>
       
        <article>
            <p>Voici votre mot de passe pour l'outils de gestion de l'Aduges:</p>
             <i class="password">$password</i></br>
            <p>Je vous remercie de bien vouloir le changer lors de votre prochaine connexion.</p>
            </br>
            </br>
           
            Bien Cordialement,</br></br>
            L'administrateur de l'application Aduges
      	<article>       
    
    </body>
</html>