<html>  
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
        	body {
           		color:black;               
            }
			article {
				text-align:left;
                margin-left: 15%;
			}
            .password {
            	margin-left: 30%;
            }
            i {
                color :#2daf8e;
            }
		</style>
	</head>
    <body>
          
        
        <article>
            <b>Bonjour $admin.getFirstName() $admin.getName(),</b>
            </br>
            </br>
            Nous t'informons de inscription sur l'application <i>DKStages</i> de l'utilisateur suivant :</br>
            <ul>
                <li>
                Nom : $user.getFirstName() $user.getName()
                </li>
                <li>
                Email : $user.getEmail()
                </li>
                <li>
                Numéro de téléphone : $user.getPhone()
                </li>
            </ul> 
            </br>
            </br>
            Bien Cordialement, 
            </br>
            L&#8217;équipe de <i>Dkstages</i>
           
      	<article>       
    
    </body>
</html>